.header.clearfix
  nav.container
    ul(class="nav nav-pills pull-right list-unstyled")
      li
        a(href="/lang/ru") RU
      li
        a(href="/lang/en") EN
    a(href="/")
      img(src="/img/bimoid_logo_ru.png")
    h3.text-muted #{i18n.t("logo")}
